body{
    margin: 0;
}

main{
    display: grid;
    grid-template-columns: 20% 80%;
}

header{
    font-size: 24px;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav ul li{
    margin: 0;
    padding: 10px;
    border-top: 2px black solid;
    display: list-item;
    justify-content: center;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.sections{
    border-left: 2px black solid;
    padding-left: 20px;
}